.logotipchik{
    display: block;
    /* position: absolute; */
    max-height: 70px;
}
@media(max-width: 500px){
    .logotipchik{
        display: none;
        position: absolute;
        
    }
}
    